<mat-card>
    <mat-card-header>
        <mat-card-title>{{jobPost.title}}</mat-card-title>
        <mat-card-subtitle>{{jobPost.posterId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style = "position:relative; left:15px;">
            {{jobPost.description}}
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!isLoggedUser && showApply">
        <button mat-button style = "position:relative; left:8px;" (click)="onApply()">Apply</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>