<mat-card>
    <mat-card-header>
        <mat-card-title>{{jobPost.title}}</mat-card-title>
        <mat-card-subtitle>{{jobPost.posterId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style = "position:relative; left:15px;">
            {{jobPost.description}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="showApply" mat-button style = "position:relative; left:8px;" (click)="onApply()">Apply</button>
        <button *ngIf="showApplicants" mat-button style = "position:relative; left:8px;" (click)="onShowApplicants()">Show Applicants</button>
        <label *ngIf="showApplied" style="color: green">Applied</label>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>