<mat-grid-list cols="5" rowHeight="200px">
  <mat-grid-tile *ngFor="let follower of followers">
  <!-- <mat-grid-tile-header> themis </mat-grid-tile-header> -->

    <div class="container">
        <section class="header">
            <section class="header-start">
                {{follower.email}}
            </section>
            <section class="header-end">
                <mat-icon>face</mat-icon>
            </section>
        </section>

        <section class="footer">
            footer
        </section>

        <section class="body" *ngIf="follower.personalInfo.workExperiencePublic">
            {{follower.personalInfo.workExperience}}
        </section>
        <section class="body" *ngIf="follower.personalInfo.personalSkillsPublic">
            {{follower.personalInfo.personalSkills}}
        </section>
    </div>
  </mat-grid-tile>
</mat-grid-list>