<mat-toolbar color="primary" class="app-header">
    <span>
        <mat-icon>language</mat-icon> DiNa
    </span>
    <div class="spacer"></div>
    <div *ngIf="!loggedIn">
        <a mat-button routerLink="login" routerLinkActive="active">
            <mat-icon>login</mat-icon>Sign in
        </a>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">
            <mat-icon>perm_identity</mat-icon>Sign up
        </a>
    </div>

    <div *ngIf="loggedIn && !admin">
        <app-navbar></app-navbar>
    </div>

    <button *ngIf="loggedIn" mat-button routerLink="logout" routerLinkActive="active">
        <mat-icon>logout</mat-icon>Logout
    </button>
</mat-toolbar>