<mat-sidenav-container>
  <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/personalInfo'" routerLinkActive="active-list-item">
        Personal Information
      </a>
      <a mat-list-item [routerLink]="'/network'" routerLinkActive="active-list-item">
        Network
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Content or body of your page -->
  <mat-sidenav-content>
    <div style="height: 90vh">

      <style>
        h1 {
          text-align: center;
        }
      </style>
      <h1 *ngIf="isLoggedInUser">
        <div>{{loggedInFirstName}} {{loggedInLastName}}</div>
        Edit Personal Information
      </h1>
      <h1 *ngIf="!isLoggedInUser">Personal Information</h1>
      <form [formGroup]="personalInfoForm" class="personal-info-form" (ngSubmit)="onSubmit()">
        <section *ngIf="isLoggedInUser">
          <p>
            <mat-checkbox formControlName="workExperiencePublic" [(ngModel)]="personalInfo.workExperiencePublic">
              Public</mat-checkbox>
          </p>
        </section>
        <mat-form-field class="info-input" appearance="fill" *ngIf="isLoggedInUser || isConnectedUser || personalInfo.workExperiencePublic">
          <mat-label>Working Experience</mat-label>
          <textarea matInput placeholder="e.g Software Engineer at Intel" formControlName="workExperience"
            [(ngModel)]="personalInfo.workExperience" [readonly]="!isLoggedInUser">
            </textarea>
        </mat-form-field>

        <section *ngIf="isLoggedInUser">
          <p>
            <mat-checkbox formControlName="educationPublic" [(ngModel)]="personalInfo.educationPublic">
              Public</mat-checkbox>
          </p>
        </section>
        <mat-form-field class="info-input" appearance="fill" *ngIf="isLoggedInUser || isConnectedUser || personalInfo.educationPublic">
          <mat-label>Education</mat-label>
          <textarea matInput placeholder="e.g Harvard University" formControlName="education"
            [(ngModel)]="personalInfo.education" [readonly]="!isLoggedInUser">
            </textarea>
        </mat-form-field>

        <section *ngIf="isLoggedInUser">
          <p>
            <mat-checkbox formControlName="personalSkillsPublic" [(ngModel)]="personalInfo.personalSkillsPublic">
              Public</mat-checkbox>
          </p>
        </section>
        <mat-form-field class="info-input" appearance="fill" *ngIf="isLoggedInUser || isConnectedUser || personalInfo.personalSkillsPublic">
          <mat-label>Personal Skills</mat-label>
          <textarea matInput placeholder="Team Player" formControlName="personalSkills"
            [(ngModel)]="personalInfo.personalSkills" [readonly]="!isLoggedInUser">
            </textarea>
        </mat-form-field>

        <button mat-stroked-button *ngIf="isLoggedInUser;else content">Update</button>
        <ng-template #content>
          <button mat-raised-button color="primary" (click)="onMessage()">Message</button>
          <button *ngIf="!isConnectedUser && !isPendingUser" mat-raised-button color="primary" (click)="onConnect()">Connect</button>
          <button *ngIf="isPendingUser" [disabled]="isPendingUser" mat-raised-button color="primary">Pending...</button>
        </ng-template>
      </form>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>