<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
  

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
    
            <mat-form-field class="full-width">
              <input matInput #login_pass minlength="8" [type]="hide ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" placeholder="Password">
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hide = !hide" >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button> 
            </mat-form-field>

          </mat-card-content>
          <button mat-stroked-button color="basic" class="btn-block">Log in</button>
        </div>
      </form>

    </mat-card>
  
  </div>