
<div class="container mat-elevation-z8">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. George" #input>
    </mat-form-field>
    
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="table-container">
        <button mat-raised-button color="primary" (click)="exporter.exportTable('json')">Export as Json</button>
        <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter" class="table" matSort matSortActive="email" matSortDisableClear
            matSortDirection="desc">
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>