<mat-card>
    <mat-card-header>
        <mat-card-title>Users' Information</mat-card-title>
    </mat-card-header>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'700'">
        <mat-selection-list #users>
            <mat-list-option *ngFor="let user of totalUsers" [value]="user">
                <mat-icon mat-list-icon>person</mat-icon>
                <a>{{user.email}}</a>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-footer>
        <p>
            Users selected: {{users.selectedOptions.selected.length}}
        </p>
        <button mat-raised-button color="primary" (click)="onExportData(users.selectedOptions.selected, 'json')">Export as JSON</button>
        <button mat-raised-button color="primary" (click)="onExportData(users.selectedOptions.selected, 'xml')">Export as XML</button>
    </mat-card-footer>
</mat-card>