autopep8==1.5.7
bcrypt==3.2.0
bidict==0.21.3
cffi==1.14.6
click==8.0.1
dicttoxml==1.7.4
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
http-constants==0.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
psycopg2==2.9.1
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pycparser==2.20
python-engineio==4.2.1
python-socketio==5.4.0
six==1.16.0
SQLAlchemy==1.4.20
toml==0.10.2
Werkzeug==2.0.1

numpy~=1.21.2