<mat-card>
    <mat-card-header>
        <mat-card-title>Requested Connections</mat-card-title>
    </mat-card-header>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'400'">
        <mat-list>
            <mat-list-item *ngFor="let requestedConnection of requestedConnections">
                <mat-icon mat-list-icon>people</mat-icon>
                <div mat-line>{{requestedConnection.firstName}} {{requestedConnection.lastName}}</div>
                <button mat-raised-button color="primary" (click)="onView(requestedConnection.email)">View Profile</button>
                <button mat-raised-button color="primary" (click)="onAccept(requestedConnection.userId, requestedConnection.firstName)">Accept</button>
                <button mat-raised-button color="primary" (click)="onReject(requestedConnection.userId, requestedConnection.firstName)">Reject</button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <mat-card-header>
        <mat-card-title>News Feed</mat-card-title>
    </mat-card-header>
    <mat-card-content  [style.overflow]="'auto'" [style.height.px]="'350'">
        <dina-news-feed></dina-news-feed>
    </mat-card-content>
</mat-card>

