<mat-sidenav-container>
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'">
       <mat-nav-list>
         <a mat-list-item [routerLink]="'/personalInfo'" routerLinkActive="active-list-item">
           Personal Information
         </a>
         <a mat-list-item [routerLink]="'/network'" routerLinkActive="active-list-item">
           Network
         </a>
       </mat-nav-list>
    </mat-sidenav>
  <!-- Content or body of your page -->
    <mat-sidenav-content>
    <div style="height: 90vh">
      <dina-timeline></dina-timeline>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>


