<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>

    <form [formGroup]="settings">
      <div>
        <mat-card-content>
          <section>
            <p>
              <mat-checkbox [checked]="selectedCheckbox === 0" (change)="selectedCheckbox = (selectedCheckbox === 0 ? -1 : 0)">Change Email</mat-checkbox>
            </p>
          </section>

          <div *ngIf="selectedCheckbox === 0">
            <mat-form-field class="full-width">
              <input matInput placeholder="New Email" formControlName="email" [(ngModel)]="changeEmailModel.newEmail"
                required>
              <div *ngIf="submitted && formFields.email.errors">
                <mat-error *ngIf="formFields.email.errors.required">
                  Email is required
                </mat-error>
                <mat-error *ngIf="formFields.email.errors.email">
                  Email is invalid
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput #login_pass formControlName="changeEmailPassword" minlength="4" [type]="hide ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" placeholder="Password">
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted && formFields.changeEmailPassword.errors">
                <mat-error *ngIf="formFields.changeEmailPassword.errors.required">
                  Password is required
                </mat-error>
              </div>
            </mat-form-field>
          </div>

          <section>
            <p>
              <mat-checkbox [checked]="selectedCheckbox === 1" (change)="selectedCheckbox = (selectedCheckbox === 1 ? -1 : 1)">Change Password</mat-checkbox>
            </p>
          </section>

          <div *ngIf="selectedCheckbox === 1">
            <mat-form-field class="full-width">
              <input matInput #login_pass formControlName="password" minlength="4" [type]="hide ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" placeholder="Password">
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted && formFields.password.errors">
                <mat-error *ngIf="formFields.password.errors.required">
                  Password is required
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher"
                [type]="hide ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                placeholder="Confirm Password" required>
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted">
                <mat-error *ngIf="form.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </div>
            </mat-form-field>
          </div>
        </mat-card-content>

        <button mat-stroked-button color="basic" [disabled]="!form.valid" class="btn-block btn-primary">Update</button>
      </div>
    </form>

  </mat-card>

</div>