<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>

    <div>
      <mat-card-content>
        <section>
          <p>
            <mat-checkbox #changeEmailCheckbox (change)="onCheckBoxChanged($event)">Change Email</mat-checkbox>
          </p>
        </section>

        <div *ngIf="changeEmailCheckbox.checked">
          <form [formGroup]="changeEmailForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="New Email" formControlName="newEmail" [(ngModel)]="changeEmailModel.newEmail" required>
              <div *ngIf="submitted && emailFormFields.newEmail.errors">
                <mat-error *ngIf="emailFormFields.newEmail.errors.required">
                  Email is required
                </mat-error>
                <mat-error *ngIf="emailFormFields.newEmail.errors.email">
                  Email is invalid
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                placeholder="Password"
                [(ngModel)]="changeEmailModel.password">

              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

              <div *ngIf="submitted && emailFormFields.password.errors">
                <mat-error *ngIf="emailFormFields.password.errors.required">
                  Password is required
                </mat-error>
              </div>
            </mat-form-field>
          </form>
        </div>

        <section>
          <p>
            <mat-checkbox #changePasswordCheckbox (change)="onCheckBoxChanged($event)">Change Password</mat-checkbox>
          </p>
        </section>

        <div *ngIf="changePasswordCheckbox.checked">
          <form [formGroup]="changePasswordForm">
            <mat-form-field class="full-width">
              <input matInput formControlName="oldPassword"
                [type]="hidePassword ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                [(ngModel)]="changePasswordModel.oldPassword"
                placeholder="Type Old Password">
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted && passwordFormFields.oldPassword.errors">
                <mat-error *ngIf="passwordFormFields.oldPassword.errors.required">
                  Password is required
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="newPassword"
                [type]="hidePassword ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                [(ngModel)]="changePasswordModel.newPassword"
                placeholder="Type New Password">
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted && passwordFormFields.newPassword.errors">
                <mat-error *ngIf="passwordFormFields.newPassword.errors.required">
                  Password is required
                </mat-error>
              </div>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
                [type]="hidePassword ? 'password' : 'text'"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                placeholder="Confirm Password" required>
              <button mat-icon-button matSuffix type="button" class="mat-i" (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div *ngIf="submitted">
                <mat-error *ngIf="passwordForm.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </div>
            </mat-form-field>
          </form>
        </div>
      </mat-card-content>

      <button mat-stroked-button color="basic"
        [disabled]="!emailForm.valid && !passwordForm.valid"
        (click)="onSubmit()"
        class="btn-block btn-primary">
        Update
      </button>
    </div>

  </mat-card>

</div>